/* This is a comment*/

/* * appy to all element */
* {
  font-family: sans-serif;
  line-height: 1.8;
  letter-spacing: 4px;
  word-spacing: 8px;
}

/* #id aplly to defined id: id="pa01" */
#pa01 {
  color: #091034;
  background-color: #F5F7D4;
  padding: 2px;
  text-align: justify;
  border-radius: 5px;
  border-color: firebrick;
  border-style: dashed;
  border-width: 2px;
}

/* h1, h2, p, table apply to the listed elements */
h1, h2, h3 {
  color: #091034;
  background-color: #E4F132;
  border-color: crimson blue;
  border-style: solid dotted solid dashed;
  border-width: 1px 2px 1px 2px;
  outline-style: solid;
  outline-color: black;
  outline-width: 2px;
  outline-offset: 2px;
  line-height: 120%;
}
h1 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.875em;
}
p {
  font-size: 0.875em;
}

/* .name apply to the named class: class="center" */
 .center {
     text-align: center;
     padding: 25px;
     color: black;
 }
  /* apllying multiple classes to the same elemente: class="center para" */
 .para {
     text-decoration: blue;
     font-weight: 200;
     border-radius: 15px;
     border-color: firebrick;
     border-style: dashed;
     border-width: 1px;
 }
  /* id is unique for each html page specific element while many elements may belong to the same class.
   element may belong to more than one class */
body {
  background-image: url("../Img/TrekkingMeditation.jpg");
  background-repeat: no-repeat ;
  background-position: right bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 100%;
}
/* The padding size will be added to the wodth size. To avoid that box-sizing property mus be used as show. this will make
the div size equals to 300px and not 350 (adding padding)*/
#div01, #div02 {
  max-width: 600px;
  min-height: 300px;
  padding: 25px;
  box-sizing: border-box;
  font-size: 12px;
}
#pat1 {
  text-decoration-color: chartreuse;
  text-decoration-line: line-through;
  text-decoration-style: wavy;
  text-transform: uppercase;
  text-indent: ;
}

#div_vw {
  max-width: 75vw;
}
#h1_vw {
  font-size: 4vw;
}

#p_vw {
  font-size: 1.5vw;
}

/* It must be in this exact order */
/* unvisited link */
a:link, a:visited {
  color: white;
  background-color: #f44336;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}

/* visited link 
a:visited {
  color: green;
} */

/* mouse over link */
a:hover, a:active {
  color: red;
}

/* selected link 
a:active {
  color: blue;
} */

table, td, th {
  color: black;
  font-size: 1em;
  font-family: Verdana;
  /*border: 1px solid black;
  border-collapse: collapse;*/
}

table {
  max-width: 500px;
}

th, td {
  padding: 10px 20px;
  border-bottom: 1px solid grey;
}

th {
  background-color: #4CAF50;
  color: white;
  font-weight: bolder;
  text-align: center;
}
tr:hover {
  background-color: #f5f5f5;
}
tr:nth-child(even) {
  background-color: darkgrey;
}

li {
  display: inline;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1px;
 }

 nav {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   padding: 1px;
 }