.cities01 {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
}

.cities02 {
  <!--background-color: black;
  -->color: black;
  margin: 20px;
  padding: 20px;
}
special {
  color: green;
}
